* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "tahoma";
}

div {
    text-align: center;
    padding: 30px 0;
}

h1 {    
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    color: yellow;

}

.link-secao-1 {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
}

span {   
    color: rgb(31, 76, 210);
    font-weight: bold;
}

.img-produtos {
    width: 300px;
}

.secao_1, .secao_3, .secao_5 {
    background-color: rgb(244, 104, 10);
    /*background-color: rgb(19, 27, 50);*/
}

.secao_6 p{
    color: rgb(255, 255, 255);
    background-color: rgb(244, 104, 10);
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    width: 980px;
    margin: 10px auto;
}

.div-branca p{
    color: rgb(10, 0, 0);
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    width: 980px;
    margin: 30px auto;
    padding: 15px;
}

.subtitulo-mapa {
    color: black;
}

/* .secao_2, .secao_4, .secao_6 {
    background-color: rgb(19, 27, 50)
} */


.div-azul p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    width: 980px;
    margin: 10px auto;
}

.div-branca h2 {
    color: black;
}



.secao_4 ul {
    font-size: 20px;
    font-weight: bold;
    list-style:square;
    line-height: 40px;
    text-align: left;
    width: 300px;
    margin: 30px auto;
    background-color: white ;
    color: rgb(244, 104, 10);
}

.secao_5 ul {
    font-size: 20px;
    font-weight: bold;
    list-style:square;
    line-height: 40px;
    text-align: left;
    width: 300px;
    margin: 30px auto;
    background-color: rgb(244, 104, 10);
    color:yellow;
}

.lista-mapa {
    width: 210px;
    list-style: none;
    margin: auto;    

}

.secao_6 {
    text-align: center;
    margin: 40px auto;
}

.secao_6 li {   
    width: 300px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
}

.secao_6 a {
    text-decoration: none;
    color: rgb(18, 18, 18);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    background-color: rgb(221, 215, 35);
}   

.banner {
    width: 980px;
}

.logo, .tecnico {
    width: 550px;
    padding: 30px 0;
}

.produtos_acessorios {
    font-size: 20px;
    font-weight: bold;
    list-style:square;
    line-height: 40px;
    text-align: left;
    width: 300px;
    margin: 30px auto;
    background-color: rgb(19, 27, 50);
    color: rgb(31, 76, 210);

}