body {
    background-color:#f1f1f1;
}

p, h1, h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

div {
    
    align-items: center;
    text-align: center;
    width: 600px;
    margin: 0px auto;
}

p {
    text-align: justify;
}

img {
    
    width: 100px;
}

h1 {
    padding: 5px;
    border: 3px solid black;
}

h3 {
    padding-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

p {
    font-family: 10;
    line-height: 32px;
    padding: 5px;  
   
}

a {
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(50, 234, 50);
    text-decoration: none;
}

span {
    font-weight: bold;
}